/*---------------Variaveis---------------*/

:root {
  /*--bg-color: #ebebeb;*/
  /*--input-placeholder: #d4d4d4;*/
  --input-bg: #efefef;
  --texto-destaque: #ffff;
  --azul-destaque: #2a7ae4;
  --bg-contato: #eaf2fd;
  --warning-color: #df2525;

  font-family: "Raleway", sans-serif;
}

/*---------------Normaliza - Reset-CSS---------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  overflow-x: hidden;


}

/*---------------Padrão de projeto---------------*/

 textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
  padding: 2%;
}

a {
  text-decoration: none;
  color: var(--azul-destaque);
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

/*---------------Header---------------*/

header {
  padding: 30px;
  background-color: var(--texto-destaque);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.logo-busqueda {
  width: 601px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: #464646;
}

.logo img {
  height: 29.17px;
  width: 40.02px;
}

.logo p {
  font-size: 26px;
  font-weight: bolder;
}

.logo .logo-azul {
  margin-left: 10px;
  color: var(--azul-destaque);
}

.logo-busqueda input {
  margin-left: 10%;
  width: 393px;
  height: 40px;
  border-radius: 30px;
  padding: 1% 3%;
  border: none;
  background-color: var(--input-bg);
  background-image: url("../assets/lupa.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 320px;
}

.login {
  width: 600px;
  display: flex;
  justify-content: end;
}

.login button {
  width: 182px;
  height: 51px;
  background: none;
  border: solid 1px var(--azul-destaque);
  color: var(--azul-destaque);
  letter-spacing: .15rem;
  font-size: 16px;
}

.login button:hover {
  background-color: var(--azul-destaque);
  color: var(--texto-destaque);
}

/*---------------Formulario Footer---------------*/

.contato {
  background-color: var(--bg-contato);
  display: flex;

  justify-content: center;
  padding: 24px 0;
  color: #464646;
  align-items: baseline;
  gap: 10%;
}

.referencia {
  display: flex;
  width: 550px;
  margin: 8% 0 0 0;
padding: 1em 0 0 6em;
gap: 12px;
align-items: baseline;
}

.referencia img {
  width: 60px;
  height: 40px;
}


.img-crud {
  width: 250px;
  height: 200px;
}

.logo-pie {
  font-size: 26px;
  font-weight: bolder;
  
  margin-top: 5px;
  
}
.logo-pie-alura{
  color: var(--azul-destaque);
}

.links-uteis {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  width: 200px;
  margin-right: 100px;
}

.links-uteis a {
  color: #464646;
  
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  top: -1em;
}

.form p {
  font-weight: bolder;
  color: #464646;
  font-size: 20px;
}

.form input {
  width: 475px;
  position: relative;
  height: 56px;
  border: transparent;
  margin-bottom: 10px;
  box-sizing: content-box;
  padding: 0.5% 2.7%;
  color: #464646;
  font-size: 16px;
}

.form input:hover {
  border-bottom: solid 2px var(--azul-destaque);
  transition: linear 1s;
}

.label-nome {
  width: 100%;
  position: absolute;
  color: #464646;
  top: 80px;
  left: 9px;
  transition: 0.5s;
}

.input-nome:focus + .label-nome {
  top: 64px;
  font-size: 14px;
  z-index: 2;
  transition: 0.2s;
  color: var(--azul-destaque);
}


.boton-msg {
  background-color: var(--azul-destaque);
  border: none;
  color: var(--texto-destaque);
  height: 51px;
  width: 180px;
  font-size: 15px;
	letter-spacing: .1rem;
}

/* */
.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input {
  border: 1px solid var(--warning-color);
  border-radius: 7px;
}

.input-container--invalid .input-label {
  color: var(--warning-color);
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: var(--warning-color);
  display: block;
  margin-top: 0.3rem;
  padding-left: 0.5rem;
}

.referencia > div{
  display: flex;
  
}
/* footer */
.footer{
  text-align: center;
  background-color: var(--texto-destaque);
  margin-top: 1.5em;
  
}


/*busqueda*/
.lista{
  position: absolute;
  top: 12.5vh;
  left: 22.5vw;
  width: 393px;
  
 
 
}

.card{
  background-color: #efefefd7;
  padding-left: 1.5em;
  padding-bottom: .5em;
  padding-top: .5em;
} 

 .card:hover{
  background-color: #beb3b3;
  
 }
 .card > a:hover{
  color: #f3ecec;
 }
 .lupa{
  display: none;
 }
 .search, .searchBox, .searchBar{
  display:none;
 }

@media (max-width:768px){
  .logo{
		padding: 0 2em;
	}
	
	.logo-busqueda input{
    width: 275px;
    margin: 0;
	}
  .login button{
    width: 120px;
    margin-right: 1.5em;
  }
  .contato{
    gap: 1%;
  }
  .referencia{
    align-items:unset;
    flex-direction: column;
    width: 35%;
    padding: 1em 0 1em 1.5em;
  }
  .form{
    width: 65%;
  }
  .form input{
		width: 90%;
	}
  .lista{
    top: 12.7vh;
left: 36vw;
width: 275px;
  }
  .lupa{
    display: none;
   }
}

@media (max-width:425px){

  .logo-busqueda input{
    display: none;
  }
  
  .logo{
    padding: 0;
  }
  .logo p{
    font-size: 20px;
  }
  .login{
    width: auto;
  }
  .login button{
    height: 37.5px;
    width: 100px;
    margin-right: 2.5em;
  }
  .contato{
    flex-direction: column;
    gap: 12px;
  }
  .referencia{
    margin: 0 25%;
  }
  .referencia > div{
    text-align: center;
  }
  .form{
    margin: 0 auto;
  }
  .form p{
    text-align: center;
  }
  header{
    padding: 30px 25px 30px 20px;
  }
  .boton-msg{
    margin: 0 16%;
  }
  
  nav .search{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    justify-content: space-evenly;
    cursor: pointer;
    
  }
  nav .icon{
    
    display: flex;
    flex-direction: row;
    
    
  }
  .searchBox{
   
    position: absolute;
    right: -100%;
    
    width: 75.5%;
    height: 10%;
    display: flex;
    align-items: center;
    margin: 0 85px;
    transition: 0.5s ease-in-out;
    background-color: #ffff;
    
  }
  .searchBox.active{
    
    right: 0;
  }
  .searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    font-size: .9em;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    color: #464646;
    margin: 25px 0;
  }
  .bi-x-circle{
    visibility: hidden;
  }
  .bi-x-circle.active{
    visibility: visible;
  }
  
  .searchBar{
    display: block;
    position: absolute;
    top: 11.5vh;
    left: 5.5vw;
    width: 65vw;
   
    z-index: 2;
  }
}

